<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>委托单申请</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../static/framework/layuimini/layuimini/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/framework/layuimini/layuimini/css/public.css" media="all">

</head>
<body>
    <div class="layuimini-container">
        <div class="layuimini-main">
            <div class="layui-btn-group">
            </div>
            <div class="layui-btn-group">
                <button type="button" class="layui-btn layui-btn-sm"><i class="layui-icon">新增</i></button>
                <button type="button" class="layui-btn layui-btn-sm layui-btn-disabled"><i class="layui-icon">修改</i></button>
                <button type="button" class="layui-btn layui-btn-sm layui-btn-disabled"><i class="layui-icon">保存</i></button>
                <button type="button" class="layui-btn layui-btn-sm"><i class="layui-icon">查询</i></button>
                <button type="button" class="layui-btn layui-btn-sm layui-btn-disabled"><i class="layui-icon">复制</i></button>
                <button type="button" class="layui-btn layui-btn-sm layui-btn-disabled"><i class="layui-icon">删除</i></button>
            </div>
            <div class="layui-btn-group">
                <button type="button" class="layui-btn layui-btn-sm layui-btn-disabled"><i class="layui-icon">委托单预览</i></button>
                <button type="button" class="layui-btn layui-btn-sm layui-btn-disabled"><i class="layui-icon">样品矩阵查询</i></button>
            </div>
            <div class="layui-btn-group">
                <button type="button" class="layui-btn layui-btn-sm layui-btn-disabled"><i class="layui-icon">单据提交</i></button>
                <button type="button" class="layui-btn layui-btn-sm layui-btn-disabled"><i class="layui-icon">单据联查</i></button>
            </div>

            <!--开始表单-->
            <fieldset class="table-search-fieldset">
                <legend>委托申请</legend>
                <div style="margin: 10px 10px 10px 10px">
                    <form class="layui-form layui-form-pane" action="">
                        <div class="layui-form-item">

                            <div class="layui-inline" style="display: none;">
                                <label class="layui-form-label">委托主键</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="project" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">委托性质</label>
                                <div class="layui-input-inline">
                                    <select name="city" lay-verify="required">
                                        <option value=""></option>
                                        <option value="0">常规委托</option>
                                        <option value="1">周期检验</option>
                                        <option value="2">质量投诉</option>
                                        <option value="3">深圳</option>
                                        <option value="4">杭州</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">委托单号</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="project" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">委托名称</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="project" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">委托单位</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="project" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">付费单位</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="project" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">联&nbsp;系&nbsp;人</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="project" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">制&nbsp;单&nbsp;人</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="project" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">电子邮件</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="project" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">联系电话</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="project" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">产品大类</label>
                                <div class="layui-input-inline">
                                    <select name="city" lay-verify="required">
                                        <option value=""></option>
                                        <option value="0">常规委托</option>
                                        <option value="1">周期检验</option>
                                        <option value="2">质量投诉</option>
                                        <option value="3">深圳</option>
                                        <option value="4">杭州</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">二级分类</label>
                                <div class="layui-input-inline">
                                    <select name="city" lay-verify="required">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">三级分类</label>
                                <div class="layui-input-inline">
                                    <select name="city" lay-verify="required">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </fieldset>
            <!--卡片开始-->
            <!--<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">-->
            <fieldset class="table-search-fieldset">
                <legend>样品任务信息</legend>
            </fieldset>

            <div class="layui-tab">
                <ul class="layui-tab-title">
                    <li class="layui-this">样品管理</li>
                    <li>任务管理</li>
                    <li>试验条件</li>
                    <li>试验前参数</li>
                    <li>试验后列表</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <div id="toolbar">
                            <div>
                                <button type="button" class="layui-btn layui-btn-sm layui-btn-disabled" data-type="addRow" title="添加样品">
                                    <i class="layui-icon layui-icon-add-1"></i> 添加样品
                                </button>
                                <button type="button" class="layui-btn layui-btn-sm layui-btn-disabled" data-type="delRow" title="删除样品">
                                    <i class="layui-icon layui-icon-delete"></i> 删除样品
                                </button>
                            </div>
                        </div>

                        <table class="layui-hide" id="sampleAdd" lay-filter="sampleFilter" ></table>

                    </div>
                    <div class="layui-tab-item">内容2</div>
                    <div class="layui-tab-item">内容3</div>
                    <div class="layui-tab-item">内容4</div>
                    <div class="layui-tab-item">内容5</div>
                </div>
            </div>

        </div>
    </div>



    <script src="../../static/framework/layuimini/layuimini/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
    <script>
        layui.use(['form', 'table','layer','element',], function () {
            var $ = layui.jquery,
                form = layui.form,
                table = layui.table,
                element = layui.element,
                layer = layui.layer;

            var sampleBak = [];
            sampleBak.push({
                "billno": ""
                ,"billname": ""
                ,"projtype": ""
                ,"creator": ""
                ,"pkcommissionh": ""
            });
            table.render({
                elem: '#sampleAdd',
                //url: '/CustomerManagerTableInfo',
                //method:'post',
                data:[],
                request: {
                    pageName: 'page' //页码的参数名称，默认：page
                    , limitName: 'limit' //每页数据量的参数名，默认：limit
                },
                response: {
                    statusName: 'code' //数据状态的字段名称，默认：code
                    , statusCode: 0 //成功的状态码，默认：0
                    , countName: 'totals' //数据总数的字段名称，默认：count
                    , dataName: 'list' //数据列表的字段名称，默认：data
                },
                cellMinWidth: 100,
                cols: [
                    [
                        {type:'radio'},
                        {field: 'billno', width: 165, title: '产品系列', sort: true,width:'15%'},
                        {field: 'billname', width: 200, title: '企业标准', sort: true,width:'35%'},
                        {field: 'projtype', width: 165, title: '任务性质', sort: true,width:'10%'},
                        {field: 'creator', width: 200, title: '提交人', sort: true,width:'15%'},
                        {field: 'pkcommissionh', width: 200, title: '主键', sort: true,width:'20%' ,hide:true},
                    ]
                ],
                limit: 10,
                limits: [10, 20, 30, 40, 50, 100],
                page: true,
                skin: 'line'

            });




        });
    </script>


</body>
</html>